:root {
  --border-size: 5px;
  --main-color: black;
  --alt-color: gray;
  --main-bkg-color: white;
  --error-color: red;
}

body{
  --border-size: 5px;
  --main-color: #007bff;
  --alt-color: #95c3f4;
  --main-bkg-color: white;
  --error-color: red;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  font-size: 8vw;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

main{
  background-color: transparent;
  background-size: 0 200%;
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat repeat;
  transition: background-size .5s, bottom .5s, right .5s;
  position: relative;
  right: 0;
  bottom: 0;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 100vw 100vw;
  display: grid;

  grid-template-areas: "create about"
  "finished .";
}

body main.about{
  right: 100vw;
  bottom: 0;
}

/*noinspection CssUnusedSymbol*/
main.finished{
  background-size: 100% 200%;
  right: 0;
  bottom: 100vh;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
}

section.inverted{
  color: var(--main-bkg-color);
}

#create-section{
  grid-area: create;
}

#finished-section{
  grid-area: finished;
}

#about-section{
  grid-area: about;
  user-select: auto;
  font-size: 4vh;
}

#about-section h1{
  font-size: 10vh;
  margin-bottom: 0;
}

#about-section h2{
  font-size: 6vh;
}

#about-section a {
  color: var(--main-color);
}

.entry-input{
  background: transparent;
  height: 1em;
  color: var(--main-color);
}

.entry-input,
.action-button{
  flex-grow: 1;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.entry-input:focus,
.action-button {
  outline: none;
}

.big {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

#fixedinput {
  min-height: 7vw;
  display: flex;
  align-items: center;
}

#fixedinput,
input {
  width: 100%;
}

.action-button{
  flex-grow: 0;
  cursor: pointer;
}

.inverted .action-button{
  background: var(--main-bkg-color);
  color: var(--main-color);
}

section:not(.inverted) .action-button{
  background: var(--main-color);
  color: var(--main-bkg-color);
}

#url:valid {
  border: var(--border-size) solid transparent;
}

#url:focus:not(:valid) {
  outline: var(--border-size) solid var(--error-color);
}

#url::selection{
  color: var(--main-bkg-color);
  background: var(--main-color);
}

a#result-link {
  color: inherit;
  max-width: 100%;
  overflow-wrap: break-word;
}

a#result-link::before {
  content: "click to copy";
  position: absolute;
  font-size: max(2vw, 2vh);
  opacity: 0;
  transition: opacity .25s, transform 0.25s;
  transform: translateY(max(2vw, 2vh));
}

a#result-link:hover::before {
  opacity: 1;
  transform: translateY(max(-2.5vw, -2.5vh));
}

@media (hover: none){
  a#result-link::before {
    opacity: 1;
    transform: translateY(max(-2.5vw, -2.5vh));
  }
}

.accessibility{
  display: none;
}

::placeholder{
  color: var(--alt-color);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0;
}

.footer-button{
  border: none;
  background: var(--main-bkg-color);
  color: var(--main-color);
  font-family: inherit;
  font-size: max(14px, 3vh);
  cursor: pointer;
}

.footer-button:focus{
  outline: none;
}
